body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.41px;
}

.header {
  background: $primary;
  color: white;
  .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  width: 100%;
  max-width: 580px;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

.goto-btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 13px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border-radius: 13px;
  margin-right: 20px;

  &:hover,
  &:focus {
    color: white;
  }
}

.widget {
  display: flex;
  align-items: center;
}

.lang {
  select {
    color: white;
    border: 0px solid white;
    background: transparent;
  }
}

.baner1 {
  padding-bottom: 60px;
  background: url($imgpath + 'baner1.png') no-repeat center / cover,
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  .container {
    text-align: center;
  }

  .text-small {
    max-width: 880px;
    margin: auto;
  }
}

.baner-content {
  margin-top: 40px;
}

.logo-red {
  background: white;
  margin-top: 80px;
  margin-bottom: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 7px 13px rgba(0, 0, 0, 0.24));
  border-radius: 21.6667px;

  &::before {
    content: '';
    width: 53px;
    height: 53px;
    background: url($imgsvg + 'logo-red.svg') no-repeat center center;
  }
}

.red,
.text-red {
  color: $primary;
}

.baner1-head {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0.41px;
  max-width: 840px;
  margin: auto;
  margin-bottom: 24px;
}

.text-small {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.41px;
}

.btn {
  line-height: 100%;
  letter-spacing: 0.41px;
}

.btn-playmarket {
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  display: inline-flex;
  align-items: center;
  font-size: 21px;
  line-height: 100%;
  height: 50px;
  border-radius: 13px;
  margin-top: 25px;

  &:before {
    content: '';
    display: block;
    background: url($imgsvg + 'playmarket.svg') no-repeat center center;
    width: 24px;
    height: 24px;
    background-size: 100%;
    margin-right: 8px;
  }
}

.screenshot {
  padding-top: 58px;
  &::before {
    content: '';
    width: 647.47px;
    height: 815.19px;
    display: block;
    margin: auto;
    background: url($imgpath + 'screen1.png') no-repeat center;
    background-size: 100%;
  }
}

.store-group {
  max-width: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
  margin: auto;
}

.store-btn {
  cursor: pointer;
  text-decoration: none;
  width: 180px;
  height: 60px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.app-store {
  background-image: url($imgpath + 'app-store.png');
}

.play-store {
  background-image: url($imgpath + 'play-store.png');
}

.gallery-store {
  background-image: url($imgpath + 'gallery-store.png');
}

.store-text {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.41px;
}

.section-header {
  font-style: italic;
  font-weight: bold;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.h3.section-header,
h3.section-header {
  font-size: 44px;
}

.section4 {
  padding: 60px 0 150px 0;
}

.transport-list {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 130px;
  flex-wrap: wrap;


  img {
    max-width: 100%;
    margin: 10px;
  }
}

.dangerbox {
  width: 100px;
  height: 90px;
  display: block;
  margin: auto;
  margin-bottom: 60px;
  background: url($imgpath + 'danger.png') center center no-repeat;
  background-size: 100%;
}

.section5 {
  background: #15151d;
  color: white;

  .section-header {
    color: white;
  }

  .container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.section6 {
  background: #f2f2f7;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  border-radius: 44px;
  background-color: white;
  margin-bottom: 40px;
  padding: 40px;
  max-width: calc(50% - 20px);
  width: 100%;

  &__content {
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    line-height: 100%;
  }

  &__img {
    height: 150px;
    margin-bottom: 50px;

    img {
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }
}

.circlebox {
  background: url($imgpath + 'circle-bg.png') no-repeat center center;
  background-size: contain;
  min-height: 1041px;
  margin: auto;
  width: 1041px;
  position: relative;
  margin-top: 160px;
}

.circler {
  background: #f2f2f7;
  border-radius: 50%;
  width: 536px;
  height: 536px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: absolute;

  &__img {
    margin-bottom: 30px;
  }
  &__head {
    color: $primary;
    font-style: italic;
    font-weight: bold;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 28px;
    line-height: 100%;
    max-width: 445px;
  }
}

.circler1 {
  left: -160px;
}

.circler2 {
  right: -160px;
  top: 0;
}

.circler3 {
  bottom: -175px;
  left: 25%;
}

.section7 {
  background: white;
  .container {
    min-height: 1770px;
  }
}

.section8 {
  background: $brand-gray;

  .section-header {
    margin-bottom: 60px;
  }
}

.price-list {
  display: flex;
  justify-content: space-between;
}

.price-card {
  width: calc(33.33% - 20px);
  border-radius: 44px;
  background: white;
  padding: 40px;
  text-align: center;

  &__head {
    font-style: italic;
    font-weight: normal;
    font-size: 56px;
    line-height: 100%;
    margin-bottom: 40px;
  }

  &__content {
    color: $primary;
    font-style: italic;
    font-weight: bold;
    font-size: 56px;
  }
}

.section {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-small {
    max-width: 850px;
    margin: auto;
  }
}

.gray-center {
  border-radius: 44px;
  background-color: $brand-gray;
  padding: 60px;
  margin-top: 80px;

  .row {
    margin-bottom: 60px;
  }
}

.text-gray {
  margin-top: 60px;
  color: #8a8a8f;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
}

.nftbox2 {
  .col {
    max-width: 280px;

    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }
}

.section10 {
  background: $brand-gray;

  .imgbox {
    border-radius: 44px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 405px;
    margin-bottom: 24px;
  }

  .col {
    text-align: center;
  }

  .row {
    margin-top: 80px;
  }
}

.h3,
h3 {
  font-style: italic;
  font-weight: bold;

  font-size: 44px;
  line-height: 100%;
}

.roadmap {
  .container {
    position: relative;
    padding: 0;
    margin-top: 50px;
  }
}

.roadmap-header {
  background: $primary;
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 56px;
  padding: 35px 50px;
  border-radius: 100px;
  max-width: 635px;
  margin: auto;
  text-align: center;

  &.roadmap-header3 {
    margin-top: -14px;
  }

  &.roadmap-header4 {
    margin-top: -15px;
  }

  &.roadmap-header5 {
    margin-top: -10px;
  }
}

.roadmap {
  background: url($imgsvg + 'roadmap-bg.svg') no-repeat center;
  background-size: 2156px 1950px;
  background-position: -130px 20px;
}

.roadmap-list {
  list-style: none;
  margin: auto;
  max-width: 660px;
  width: 100%;
  display: block;
  margin-top: 60px;
  min-height: 230px;
  margin-bottom: 60px;

  &.error {
    li {
      &::before {
        background-image: url($imgsvg + 'check-error.svg');
      }
    }
  }

  li {
    position: relative;
    padding-left: 34px;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 15px;

    &::before {
      content: ' ';
      left: 0;
      position: absolute;
      background: url($imgsvg + 'check-success.svg') no-repeat center;
      width: 24px;
      height: 24px;
      background-size: 100%;
    }
  }
}

.section12 {
  background: $brand-gray;

  .row {
    margin-top: 80px;
  }

  img {
    width: 100%;
  }
}

.section13 {
  background: $primary;
  color: white;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .row {
    max-width: 800px;
    margin: auto;
  }

  a {
    max-width: 52px;
    display: block;
    margin: auto;
  }

  .col {
    display: flex;
    align-items: center;
  }

  img {
    width: 100%;
  }
}

.runtoken {
  display: block;
  max-width: 80px;
  margin: auto;
  margin-bottom: 40px;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1330px;
  }
}

@media (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .menu-burger {
    display: none;
  }
  .roadmap-content {
    display: none;
  }
}

@media (max-width: 1300px) {
  .section7 {
    .container {
      min-height: auto;
    }
  }

  .circlebox {
    max-width: 100%;
    width: 100%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
  }

  .circler {
    position: static;
    width: 396px;
    height: 396px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;

    &__img {
      height: 58px;

      img {
        max-height: 100%;
      }
    }

    &__head {
      font-size: 32px;
    }

    &__text {
      font-size: 17px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    .container {
      max-width: 100%;
    }

    .menu {
      justify-content: flex-start;
      a {
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 768px) {

  .header {
    .menu,
    .widget {
      display: none;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .price-list {
    flex-direction: column;
  }

  .price-card {
    width: 100%;
    margin-bottom: 40px;
  }

  .piplebox {
    .row {
      flex-direction: column;

      &:nth-child(2) {
        margin-top: 0;
      }
    }

    .col {
      margin-bottom: 40px;
    }
  }

  .roadmap {
    background: none;
  }

  .roadmap-list {
    display: none;
  }

  .btn-burger {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 15px;

    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 12px;
      background: url($imgsvg + 'btn-burger.svg') no-repeat center;
      background-size: 100%;
    }
  }

  .menu-burger {
    height: calc(100vh - 70px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $primary;
    z-index: 10;
    padding: 15px;
    padding-bottom: 40px;
    display: none;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85%;

      .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .menu-item {
          text-align: center;
        }

        a {
          display: inline-block;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          text-align: center;
          margin-bottom: 44px;
        }
      }
    }

    .widget {
      display: flex;
      flex-direction: column;
      width: 100%;

      a {
        margin-bottom: 40px;
        max-width: 380px;
        width: 100%;
        font-size: 24px;
        display: block;
        margin-right: 0;
      }
    }

    .lang {
      select {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  body.menu-open {
    overflow-y: scroll;

    .wrapper {
      display: none;
    }

    .menu-burger {
      display: block;
    }

    .btn-burger {
      &::before {
        background-image: url($imgsvg + 'close-white.svg');
      }
    }
  }

  .baner1-head {
    font-size: 32px;
  }

  .text-small {
    font-size: 17px;
  }
  .screenshot {
    &::before {
      width: 100%;
      background-image: url($imgpath + 'screen1-mobile.png');
    }
  }

  .store-group {
    padding-top: 15px;
    flex-direction: column;

    a {
      margin-bottom: 20px;
    }
  }

  .section-header {
    font-size: 32px;
  }

  .section4 {
    padding-bottom: 40px;
  }

  .transport-list {
    margin-top: 100px;
    flex-direction: column-reverse;

    img {
      margin: 0;
      margin-bottom: 60px;
    }
  }

  .section5 {
    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .section-header {
      margin-bottom: 40px;
    }
  }

  .dangerbox {
    width: 80px;
    height: 72px;
    margin-bottom: 40px;
  }

  .card-list {
    flex-direction: column;
  }

  .card-item {
    padding: 40px 15px;
    max-width: 100%;

    &:first-child {
      background: transparent;
    }

    &__img {
      height: 80px;
      margin-bottom: 40px;

      img {
        max-height: 100%;
      }
    }

    &__content {
      font-style: italic;
      font-weight: bold;
      font-size: 32px;
    }
  }
  .roadmap-content{
    font-size: 17px;
    font-style: normal;
    color: black;
    font-weight: normal;
  }

  .roadmap-header {
    background: white;
    border-radius: 44px;
    color: $primary;
    font-size: 32px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    min-height: 190px;
    margin-bottom: 24px;
    margin-top: 0 !important;
  }

  .section11 {
    background: $brand-gray;
    padding-bottom: 100px;
  }

  .section12 {
    background: white;
    .row {
      flex-direction: column;
    }

    .col {
      margin-bottom: 20px;
    }

    img {
      max-width: 220px;
      display: block;
      margin: auto;
    }
  }
}

@media (max-height: 600px) and (max-width: 768px) {
  .menu-burger {
    overflow-y: auto;

    &__content {
      height: auto;
      .menu {
        margin-bottom: 40px;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .circler {
    width: 100%;
    height: auto;
    border-radius: 44px;
  }
}
