body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.41px;
}

.header {
  background: $brand-black;
  color: white;

  .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 15px;
  }
}

.logo {
  max-width: 32px;

  img {
    max-width: 100%;
  }
}

label {
  padding-left: 24px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.41px;
}

.form-control {
  border: 3px solid #8a8a8f;
  box-sizing: border-box;
  border-radius: 13px;
  font-size: 20px;
  letter-spacing: 0.41px;
  padding-left: 24px;
  padding-right: 24px;
  height: 60px;
  color: black;

  &:focus {
    border-color: $primary;
  }
}

.menu {
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }
}

.goto-btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 13px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border-radius: 13px;
  margin-right: 20px;

  &:hover,
  &:focus {
    color: white;
  }
}

.widget {
  display: flex;
  align-items: center;
}

.lang {
  select {
    color: white;
    border: 0px solid white;
    background: transparent;
  }
}

.baner1 {
  padding-bottom: 60px;
  background: url($imgpath + 'baner1.png') no-repeat center / cover,
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  .container {
    text-align: center;
  }

  .text-small {
    max-width: 880px;
    margin: auto;
  }
}

.baner-content {
  margin-top: 100px;
}

.logo-red {
  background: white;
  margin-top: 80px;
  margin-bottom: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 7px 13px rgba(0, 0, 0, 0.24));
  border-radius: 21.6667px;

  &::before {
    content: '';
    width: 53px;
    height: 53px;
    background: url($imgsvg + 'logo-red.svg') no-repeat center center;
  }
}

.red,
.text-red {
  color: $primary;
}

.baner1-head {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0.41px;
  max-width: 840px;
  margin: auto;
  margin-bottom: 24px;
}

.text-small {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.41px;

  &--quate {
    line-height: 112%;
  }
}

.btn {
  line-height: 100%;
  letter-spacing: 0.41px;
}

.btn-italic {
  font-style: italic;
}

.btn-playmarket {
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  display: inline-flex;
  align-items: center;
  font-size: 21px;
  line-height: 100%;
  height: 50px;
  border-radius: 13px;
  margin-top: 25px;
  background: transparent;
  color: $primary;
  border: 3px solid $primary;

  &:hover,
  &:focus {
    border-color: $primary;
    color: $primary;
    background: transparent;
    opacity: 0.8;
  }

  &:before {
    content: '';
    display: block;
    background: url($imgsvg + 'play-red.svg') no-repeat center center;
    width: 24px;
    height: 24px;
    background-size: 100%;
    margin-right: 8px;
  }
}

.btn-primary {
  &:disabled {
    background: $brand-darkgray;
    border-color: $brand-darkgray;
    opacity: 1;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  max-width: 250px;
  width: 100%;
  height: 56px;
  line-height: 36px;
  border-radius: 13px;
  font-weight: bold;
}

.screenshot {
  padding-top: 58px;
  &::before {
    content: '';
    width: 647.47px;
    height: 815.19px;
    display: block;
    margin: auto;
    background: url($imgpath + 'screen1.png') no-repeat center;
    background-size: 100%;
  }
}

.store-group {
  max-width: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
  margin: auto;
}

.store-btn {
  cursor: pointer;
  text-decoration: none;
  width: 180px;
  height: 60px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.app-store {
  background-image: url($imgpath + 'app-store.png');
}

.play-store {
  background-image: url($imgpath + 'play-store.png');
}

.gallery-store {
  background-image: url($imgpath + 'gallery-store.png');
}

.store-text {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.41px;
}

.section-header {
  font-style: italic;
  font-weight: bold;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.h3.section-header,
h3.section-header {
  font-size: 44px;
}

.section4 {
  padding: 60px 0 150px 0;
}

.transport-list {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  margin-top: 130px;
  flex-wrap: wrap;

  img {
    max-width: 100%;
    margin: 10px;
  }
}

.dangerbox {
  width: 100px;
  height: 90px;
  display: block;
  margin: auto;
  margin-bottom: 60px;
  background: url($imgpath + 'danger.png') center center no-repeat;
  background-size: 100%;
}

.section5 {
  background: #15151d;
  color: white;

  .section-header {
    color: white;
  }

  .container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.section6 {
  background: #f2f2f7;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  border-radius: 44px;
  background-color: white;
  margin-bottom: 40px;
  padding: 40px;
  max-width: calc(50% - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 100%;
    min-height: 3em;
  }

  &__img {
    margin-bottom: 50px;

    &--duble {
      img {
        height: 100px;
      }
    }

    img {
      display: block;
      max-width: 100%;
      width: auto;
      margin: auto;
      margin-bottom: 24px;
    }
  }
}

.circlebox {
  background: url($imgpath + 'circle-bg.png') no-repeat center center;
  background-size: contain;
  min-height: 1041px;
  margin: auto;
  width: 1041px;
  position: relative;
  margin-top: 160px;
  margin-bottom: 160px;
}

.circler {
  background: #f2f2f7;
  border-radius: 50%;
  width: 536px;
  height: 536px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: absolute;

  &__img {
    margin-bottom: 30px;
  }
  &__head {
    color: $primary;
    font-style: italic;
    font-weight: bold;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 28px;
    line-height: 100%;
    max-width: 445px;
  }
}

.circler1 {
  left: -160px;
}

.circler2 {
  right: -160px;
  top: 0;
}

.circler3 {
  bottom: -175px;
  left: 25%;
}

.img-responsive {
  max-width: 100%;
}

.section7 {
  background: white;
  .container {
    min-height: 1770px;
  }

  .text-small {
    line-height: 129%;
  }
}

.section8 {
  overflow: hidden;
  background: $brand-gray;

  .section-header {
    margin-bottom: 60px;
  }
  .container {
    > *:not(.graph) {
      position: relative;
      z-index: 2;
    }
  }
}

.graph {
  img {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: block;
  }
  &--circle {
    margin-top: 40px;
    margin-bottom: 100px;
    position: relative;
    height: 1066px;

    &::before {
      content: ' ';
      position: absolute;
      background: url($imgsvg + 'gtr-full.svg') no-repeat center;
      background-size: auto 100%;
      background-position: right;
      width: 3644px;
      height: 1066px;
      right: 0;
      top: 0px;
      z-index: 1;
    }

    .graph-center {
      position: relative;
      z-index: 1;
      margin: auto;
      max-width: 870px;
    }
  }

  &--2 {
    margin-bottom: 100px;
    .section-header {
      margin-top: 200px;
      margin-bottom: 100px;
    }
  }
}

.price-list {
  display: flex;
  justify-content: space-between;
}

.price-card {
  width: calc(33.33% - 20px);
  border-radius: 44px;
  background: white;
  padding: 40px;
  text-align: center;

  &__head {
    font-style: italic;
    font-weight: normal;
    font-size: 56px;
    line-height: 100%;
    margin-bottom: 40px;
  }

  &__content {
    color: $primary;
    font-style: italic;
    font-weight: bold;
    font-size: 56px;
  }
}

.section {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-small {
    max-width: 850px;
    margin: auto;
  }
}

.gray-center {
  border-radius: 44px;
  background-color: $brand-gray;
  padding: 60px;
  margin-top: 80px;

  .row {
    margin-bottom: 60px;
  }

  .col {
    display: flex;
    justify-content: center;
  }
}

.text-gray {
  margin-top: 60px;
  color: #8a8a8f;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
}
.nftbox {
  &__img {
    max-width: 100%;
    width: 100%;
    &--1 {
      max-width: 100%;
      max-width: 300px;
      margin-top: 5px;
    }
  }

  img {
    display: block;
    margin: auto;
  }
}

.nftbox2 {
  img {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.section10 {
  background: $brand-gray;

  .imgbox {
    border-radius: 44px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 405px;
    margin-bottom: 24px;
  }

  .col {
    text-align: center;
  }

  .row {
    margin-top: 80px;
  }
}

.h3,
h3 {
  font-style: italic;
  font-weight: bold;

  font-size: 44px;
  line-height: 100%;
}

.roadmap {
  .container {
    position: relative;
    padding: 0;
    margin-top: 50px;
  }
}

.roadmap-header {
  background: $brand-darkgray;
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  line-height: 137%;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;

  &--success {
    background: $success;
  }

  &--primary {
    background: $primary;
  }

  &.roadmap-header1 {
  }

  &.roadmap-header2 {
    margin-top: 100px;
  }

  &.roadmap-header3 {
    margin-top: 75px;
  }

  &.roadmap-header4 {
    margin-top: -36px;
  }

  &.roadmap-header5 {
    margin-top: 64px;
  }
}

.roadmap {
  background: url($imgsvg + 'roadmap-bg.svg') no-repeat center;
  background-size: 2156px 2253px;
  background-position: -130px 30px;
}

.roadmap-list {
  list-style: none;
  margin: auto;
  max-width: 660px;
  width: 100%;
  display: block;
  margin-top: 60px;
  min-height: 230px;
  margin-bottom: 60px;

  &.reload {
    li {
      &::before {
        background-image: url($imgsvg + 'reload.svg');
      }
    }
  }

  &.success {
    li {
      &::before {
        background-image: url($imgsvg + 'check-success.svg');
      }
    }
  }

  li {
    position: relative;
    padding-left: 34px;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 15px;

    &::before {
      content: ' ';
      left: 0;
      position: absolute;
      background: url($imgsvg + 'dot.svg') no-repeat center;
      width: 24px;
      height: 24px;
      background-size: 100%;
    }
  }
}

.section12 {
  background: $brand-gray;

  .row {
    margin-top: 80px;
  }

  img {
    width: 100%;
  }
}

.section13 {
  background: $brand-black;
  color: white;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .row {
    max-width: 800px;
    margin: auto;
  }

  a {
    max-width: 52px;
    display: block;
    margin: auto;
  }

  .col {
    display: flex;
    align-items: center;
  }

  img {
    width: 100%;
  }
}

.section15 {
  background: white;
  text-align: center;
  a {
    display: inline-block;
  }

  .section-header {
    margin-bottom: 60px;
  }
}

.runtoken {
  display: block;
  max-width: 80px;
  margin: auto;
  margin-bottom: 40px;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

.piplebox {
  .row {
    > div {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}

.check {
  cursor: pointer;

  input {
    display: none;
  }

  span {
    position: relative;
    display: inline-block;
    padding-left: 40px;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      content: '';
      width: 24px;
      height: 24px;
      background-color: $brand-darkgray;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }

  input:checked + span::before {
    background-color: $primary;
    background-image: url($imgsvg + 'check.svg');
  }
}

.section-baner1 {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  img {
    margin: auto;
    max-height: 500px;
    width: auto;
  }

  .carousel-item {
    width: 100%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: flex;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 40px;
  height: 40px;
  background: $primary;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
}

.carousel-control-next {
  margin-right: 24px;
}

.carousel-control-prev {
  margin-left: 24px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: url($imgsvg + 'arrow-white.svg') no-repeat 2px center;
}

.carousel-control-next-icon {
  transform: rotate(180deg);
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  background: $brand-darkgray;
  border-radius: 50%;
  margin: 0 12px;
  padding: 0;
  opacity: 1;
  box-sizing: border-box;
  border: 0;
}

img {
  max-width: 100%;
}

.carousel-caption {
  bottom: 40px;
}

.carousel-indicators .active {
  background: $primary;
}

.section-baner2 {
  img {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1330px;
  }
}

@media (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .menu-burger {
    display: none;
  }
  .modal-content {
    min-width: 600px;
  }
  .roadmap-list3 {
    margin-top: 14px;
  }
}

@media (max-width: 1200px) {
  .graph {
    &--circle {
      height: 790px;
      &::before {
        height: 790px;
      }
    }
  }

  .roadmap {
    background-position-x: -250px;
  }
}

@media (max-width: 1380px) {
  .section7 {
    .container {
      min-height: auto;
    }
  }

  .circlebox {
    max-width: 100%;
    width: 100%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
    margin-bottom: 20px;
  }

  .circler {
    position: static;
    width: 396px;
    height: 396px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;

    &__img {
      height: 58px;

      img {
        max-height: 100%;
      }
    }

    &__head {
      font-size: 32px;
    }

    &__text {
      font-size: 17px;
    }
  }
}

@media (max-width: 992px) {
  .graph {
    &--circle {
      height: 500px;

      &::before {
        display: block;
        height: 500px;
        position: relative;
        left: 0;
        width: 100%;
        background: url($imgsvg + 'graph2.svg') no-repeat center / 100%;
      }
    }
  }

  .header {
    .container {
      max-width: 100%;
    }

    .menu {
      justify-content: flex-start;
      a {
        margin-left: 20px;
      }
    }
  }

  .nftbox,
  .nftbox2 {
    img {
      max-width: 300px;
    }
  }
}

//menu styl
@media (min-width: 880px) {
  .menu {
    .btn-primary {
      margin-top: -3px;
    }
  }
}

@media (max-width: 880px) {
  .header {
    .menu,
    .widget {
      display: none;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-item {
    &--social {
      img {
        max-width: 24px;
      }
    }
  }

  .logo {
    max-width: 32px;
    img {
      max-width: 100%;
    }
  }

  .btn-burger {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 15px;

    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 12px;
      background: url($imgsvg + 'btn-burger.svg') no-repeat center;
      background-size: 100%;
    }
  }

  .menu-burger {
    height: calc(100vh - 70px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $brand-black;
    z-index: 10;
    padding: 15px;
    padding-bottom: 40px;
    display: none;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85%;

      .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .menu-item {
          text-align: center;
        }

        a {
          display: inline-block;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          text-align: center;
          margin-bottom: 44px;
        }
      }
    }

    .widget {
      display: flex;
      flex-direction: column;
      width: 100%;

      a {
        margin-bottom: 40px;
        max-width: 380px;
        width: 100%;
        font-size: 24px;
        display: block;
        margin-right: 0;
      }
    }

    .lang {
      select {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  body.menu-open {
    overflow-y: scroll;

    .wrapper {
      display: none;
    }

    .menu-burger {
      display: block;
    }

    .btn-burger {
      &::before {
        background-image: url($imgsvg + 'close-white.svg');
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .logo {
      display: block;
      margin: auto;
    }
  }

  .roadmap-header {
    background: $primary;
    display: inline-block;

    &--success {
      background: $success;
    }

    &--primary {
      background: white;
      color: $primary;
      border: 4px solid $primary;
    }
  }

  .roadmap-list {
    text-align: left;
  }

  .roadmap {
    text-align: center;
  }

  .price-list {
    flex-direction: column;
  }

  .price-card {
    width: 100%;
    margin-bottom: 40px;
  }

  .piplebox {
    .row {
      flex-direction: column;

      &:nth-child(2) {
        margin-top: 0;
      }
    }

    .col {
      margin-bottom: 40px;
    }
  }

  .h3.section-header,
  h3.section-header {
    font-size: 32px;
  }

  .gray-center {
    padding: 40px;

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .roadmap {
    background: none;
  }

  .baner1-head {
    font-size: 32px;
  }

  .text-small {
    font-size: 17px;
  }
  .screenshot {
    &::before {
      width: 100%;
      background-image: url($imgpath + 'screen1-mobile.png');
    }
  }

  .store-group {
    padding-top: 15px;
    flex-direction: column;

    a {
      margin-bottom: 20px;
    }
  }

  .section-header {
    font-size: 32px;
  }

  .section4 {
    padding-bottom: 40px;
  }

  .transport-list {
    margin-top: 100px;
    flex-direction: column-reverse;
    align-items: center;

    img {
      margin: 0;
      margin-bottom: 60px;
    }
  }

  .section5 {
    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .section-header {
      margin-bottom: 40px;
    }
  }

  .dangerbox {
    width: 80px;
    height: 72px;
    margin-bottom: 40px;
  }

  .card-list {
    flex-direction: column;
  }

  .card-item {
    padding: 40px 15px;
    max-width: 100%;

    &:first-child {
      background: transparent;
    }

    &__img {
      margin-bottom: 40px;

      img {
        max-height: 100%;
      }
    }

    &__content {
      font-style: italic;
      font-weight: bold;
      font-size: 32px;
    }
  }
  .roadmap-content {
    font-size: 17px;
    font-style: normal;
    color: black;
    display: none;
    font-weight: normal;
  }

  .section12 {
    .row {
      flex-direction: column;
    }

    .col {
      margin-bottom: 20px;
    }

    img {
      max-width: 220px;
      display: block;
      margin: auto;
    }
  }
  .menu-burger {
    &__content {
      height: auto;
    }
  }
}

@media (max-height: 600px) and (max-width: 768px) {
  .menu-burger {
    overflow-y: auto;

    &__content {
      height: auto;
      .menu {
        margin-bottom: 40px;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .circler {
    width: 100%;
    height: auto;
    border-radius: 44px;
  }

  .screenshot {
    &::before {
      background-size: auto 100%;
      height: 380px;
      margin-bottom: 40px;
    }
  }

  .section10 {
    .imgbox {
      height: 320px;
    }
  }
}
