.section-3 {
    box-sizing: border-box;
    height: 522px;
    position: relative;
    overflow: hidden;
  
    &__background {
      height: 100%;
      //background-image: url('../img/streets-mobile-2.svg');
      background-repeat: no-repeat;
      background-position: center top;
      //background-size: cover;
    }
  
    &__wrapper {
      position: relative;
      z-index: 2;
    }
  
    &__animation {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
  
      &_desktop {
        display: none;
      }
  
      &_mobile {
        width: 1024px;
        margin-left: -512px;
        display: block;
      }
    }
  
    &__content {
      position: absolute;
      padding: 25px 10px 0;
      width: 304px;
    }
  
    &__slide {
      opacity: 0;
      transform: translateY(25px);
      transition: opacity 500ms, transform 500ms;
  
      &_show-up-and-fade-in {
        opacity: 1;
        transform: translateY(0);
      }
  
      &_hide-up-and-fade-out {
        opacity: 0;
        transform: translateY(-25px);
      }
  
      &_fade-out {
        opacity: 0;
        transition: opacity 1s;
      }
    }
  }
  
  @media (min-width: 768px) {
    .section-3 {
      height: 650px;
  
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0
      }
  
      &::before {
        left: 0;
        background-color: $lightBackground;
      }
  
      &::after {
        right: 0;
        background-image: url($imgsvg + 'texture.svg');
        background-repeat: repeat;
        background-position: top right;
      }
  
      &__background {
        position: relative;
        z-index: 1;
        //background-image: url('../img/streets-2.svg');
        background-size: 2557px 650px;
      }
  
      &__wrapper {
        max-width: 760px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
  
      &__animation_desktop {
        width: 2557px;
        display: block;
        margin-left: -1279px;
      }
  
      &__animation_mobile {
        display: none;
      }
  
      &__content {
        padding: 0;
      }
  
      &__slide {
        transform: translateY(50px);
  
        &_show-up-and-fade-in {
          transform: translateY(0);
        }
  
        &_hide-up-and-fade-out {
          transform: translateY(-50px);
        }
      }
  
      &__text {
        margin: 0;
      }
    }
  }
  